* {
  font-family: 'Courier New', Courier, monospace;
}

nav {
  background: #eee;
  padding: 15px 0 15px 20px;
  font-size: 15px;
}

#app {

  position: fixed;

  top: 40px;
  bottom: 0;
  right: 0;
  left: 0;

  padding: 20px 15px 30px 15px;
  overflow: auto;
}